<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.body.style.backgroundColor = "white";
    }
    $('.likebtn').click(function (evt) {
        evt.preventDefault();
        const id = $(this).attr('data-id');
        $this = evt.target;
        // console.log('id: ', id);
        // console.log($.ajax);
        $.ajax({
            // global: false,
            method: 'POST',
            url: '/likes/' + id,
            data: {
                id: id,

            }
        }).done(function (res) {
            console.log(res.like)
            if (res.success) {
                if (res.like) {
                    $($this).removeClass('btn-outline-danger')
                    $($this).addClass('btn-danger');
                    $(`#like${id}`).html((parseInt(res.likes) === 1) ? res.likes + " like" : res.likes + " likes");
                } else {
                    if (res.likes > 0) {
                        $($this).removeClass('btn-danger');
                        $($this).addClass('btn-outline-danger');
                        $(`#like${id}`).html((parseInt(res.likes) === 1) ? res.likes + " like" : res.likes + " likes");
                    } else if (res.likes === 0) {
                        $($this).removeClass('btn-danger');
                        $($this).addClass('btn-outline-danger');
                        $(`#like${id}`).html("");
                    }
                }
            }
        })
    })
    $('.commentsubmit').click(function (evt) {
        evt.preventDefault();
        const id = $(this).attr('data-id');
        $.ajax({
            type: "post",
            url: '/likes/comments/' + id,
            data: {
                id: id,
                comment: $(`.${id}`).val()
            }
        }).done(function (res) {
            if (res.success) {
                console.log(res.success);
                window.location.reload();
            } else {
                console.log('error')
            }
        })
    })
    $('.cmntdelete').click(function (evt) {
        evt.preventDefault();
        const i_id = $(this).attr('image-id');
        const c_id = $(this).attr('comment-id');
        $.ajax({
            method: 'DELETE',
            url: '/likes/' + i_id + "/comments/" + c_id,
            i_id,
            c_id
        }).done(function (res) {
            if (res.success) {
                window.location.reload();
            }
        })
    })
    $('.inprofilecmntdlt').click(function (evt) {
        evt.preventDefault();
        const i_id = $(this).attr('image-id');
        const c_id = $(this).attr('cmnt-id');
        $.ajax({
            url: '/profile/' + i_id + "/comments/" + c_id,
            method: 'DELETE',
            i_id,
            c_id
        }).done(function (res) {
            if (res.success) {
                window.location.reload();
            }
        })
    })
</script>
</body>

</html>