<footer>
        <a href="/feed"><img class="footerImg" src="/images/homeBtn.jpeg"></a>
        <a href="/search"><img class="footerImg" src="/images/searchBtn.jpeg"></a>
        <a href="/upload"><img class="footerImg" src="/images/addBtn.png"></a>
        <a href="/likes"><img class="footerImg" src="/images/allLikesBtn.jpeg"></a>
        <a href="/profile"><img class="footerImg" src="/images/instagram.png"></a>
    </footer>
</body>
</html>