<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.body.style.backgroundColor = "white";
    }
    $('.likebtn').click(function (evt) {
        evt.preventDefault();
        const id = $(this).attr('data-id');
        // console.log('id: ', id);
        // console.log($.ajax);
        $.ajax({
            // global: false,
            method: 'POST',
            url: '/likes/' + id,
            // dataType: 'ejs',
            data: {
                id: id,

            }
        }).done(function (res) {
            console.log(res.success);
            if (res.success) {
                console.log('id from ajax call is', res);
                window.location.reload();
            } else {
                console.log('error...ajax');
            }
        })
    })
    $('.commentsubmit').click(function(evt){
        evt.preventDefault();
        const id = $(this).attr('data-id');
        
        console.log('id: ', id);
        console.log("comment val: ", $(`.${id}`).val());
        $.ajax({
            type: "post",
            url: '/likes/comments/' + id,
            data: {
                id: id,
                comment: $(`.${id}`).val()
            }
        }).done(function(res){
            if(res.success){
                window.location.reload();
            }else{
                console.log('error')
            }
        })
    })
    $('.cmntdelete').click(function(evt){
        evt.preventDefault();
        const i_id = $(this).attr('image-id');
        const c_id = $(this).attr('comment-id');
        $.ajax({
            method: 'DELETE',
            url: '/likes/' + i_id + "/comments/" + c_id,
            i_id,
            c_id
        }).done(function(res){
            if(res.success){
                window.location.reload();
            }
        })
    })
    $('#inprofilecmntdlt').click(function(evt){
        evt.preventDefault();
        const i_id = $(this).attr('image-id');
        const c_id = $(this).attr('cmnt-id');
        $.ajax({
            url: '/profile/' + i_id + "/comments/" + c_id,
            method: 'DELETE',
            i_id,
            c_id
        }).done(function(res){
            if(res.success){
                window.location.reload();
            }
        })
    })
</script>
</body>

</html>