<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
</head>

<body>
  <header>
  </header>
  <main class="loginmain">
    <div>
      <h1 class="logo">Meisagram</h1>
      <p style="margin: 70px;" class="introtext">Sign up to see photos and videos from your friends.</p>
      <a href="/auth/google">
        <img src="/images/googlesignin.png">
      </a><br>
    </div>
  </main>
  <footer>
    <p class="footertext">GA</p>
  </footer>
  
</body>

</html>