<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
</head>

<body class="loginmain">
  <div class="login">
    <main>
      <div class="logintext">
        <h1 class="logo">Memesagram</h1>
        <p >Sign up to see photos and videos from your friends.</p>
        <a href="/auth/google">
          <img class="signinbtn" src="/images/googlesignin.png">
        </a><br>
      </div>
    </main>

  </div>
  
</body>

</html>