<%-include('../partials/header')%>
<table class="container table">
    <tbody>
        <% user.notification.forEach(function(n){%>
        <tr>
            <td><%=n%></td>
        </tr>
        <!-- <p></p> -->

        <%})%>
    </tbody>
</table>

<%-include('../partials/footer')%>