<%-include('../partials/header')%>
<form class="searchbar" action="meisagram/search" method="GET">
    <input placeholder="search..." type="search" name="userName" value="<%= user.userName %>">
</form>



<%-include('../partials/footer')%>