<%-include('../partials/header')%>

<%= typeof msg != 'undefined' ? msg : '' %>
    <form class="container" action="/upload" method="POST" enctype="multipart/form-data">
        Please upload your photo: <input class="upload" name="image" type="file">
        <textarea name="caption" cols="50" rows="10" placeholder="Write a caption..."></textarea>
        <input class="photosave" type="submit">
    </form>
<%-include('../partials/footer')%>