<%-include('../partials/header')%>

<form class="uploadbar container" style="width: 350px;" action="/upload" method="POST" enctype="multipart/form-data">
  <div class="input-group mb-3">
    <div class="custom-file">
      <input type="file" name="image" class="custom-file-input" id="inputGroupFile02">
      <label class="custom-file-label" for="inputGroupFile02">Upload a Meme...</label>
    </div>
  </div>
  <div class="input-group">
    <textarea class="form-control" name="caption" aria-label="With textarea" placeholder="Caption..."></textarea>
    <div class="input-group-append">
      <input class="btn btn-outline-success" type="submit">
    </div>
  </div>
</form>

<%-include('../partials/footer')%>